.contacts {
  margin: 0 auto;
  padding-bottom: 98px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__text {
  width: 555px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  margin: 0;
  margin-bottom: 41px;

  color: rgba(0, 0, 0, 0.7);
}

iframe {
  width: 957px;
  height: 530px;
  margin-bottom: 39px;
}

.contacts__contacts {
  display: flex;
}

.contacts__mail,
.contacts__tel  {
  margin-right: 127px;
  position: relative;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.contacts__tel {
  margin-right: 0;
}

.contacts__mail::before,
.contacts__tel::before {
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -41px;
  top: 5px;
}

.contacts__tel::before {
  background-image: url(../img/phone.svg);
  width: 22px;
  height: 24px;
  top: 0;
  left: -30px;
}

@media (max-width: 1023px) {
  .contacts {
    padding-bottom: 52px;
  }

  .contacts__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contacts__text {
    width: 100%;
    margin-bottom: 20px;
  }

  iframe {
    width: 90.88%;
    height: 545px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 0;
    padding-bottom: 36px;
  }

  .contacts__text {
    width: 84.375%;
  }

  iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 31px;
  }

  .contacts__contacts {
    flex-direction: column;
    align-items: center;
  }

  .contacts__mail {
    margin: 0;
    margin-bottom: 22px;
  }
}
