.types {
  background-color: #F6F7F9;
  padding-top: 150px;
  padding-bottom: 118px;
  text-align: center;
}

.types__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1F1F1F;

  margin: 0;
  margin-bottom: 50px;
}

.types__list {
  list-style: none;
  margin: 0;
  margin-left: 11.73%;
  margin-right: 10.07%;
  padding: 0;
  width: 78.2%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.types__item {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-right: 4.44%;
}

.types__item--first {
  margin-top: 10px;
}

.types__item--middle {
  margin-top: 39px;
}

.types__item:nth-child(3n) {
  margin-right: 0;
}

.types__item--first::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 156px;
  z-index: -1;

  width: 180px;
  height: 180px;
  border: 27px solid #0AD9C6;
  border-radius: 50%;
  box-sizing: border-box;
}

.types__item--middle::before,
.types__item--middle::after {
  content: "";
  position: absolute;

  border: 8px solid #0AD9C6;
  width: 47px;
  height: 47px;
  box-sizing: border-box;
}

.types__item--middle::before {
  top: -20px;
  left: -20px;
}

.types__item--middle::after {
  bottom: 33px;
  right: -23px;
}


.types__item--last::before {
  content: "";
  position: absolute;
  right: -35px;
  top: -33px;

  width: 95px;
  height: 95px;
  border: 17px solid #0AD9C6;
  border-radius: 50%;
  box-sizing: border-box;
}

.types__img {
  display: block;
}

.types__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 1023px) {
  .types {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .types__title {
    font-size: 24px;
    line-height: 41px;

    margin-bottom: 30px;
  }

  .types__list {
    padding-left: 64px;
    padding-right: 64px;

    margin: 0 auto;
    flex-wrap: wrap;
    width: 768px;
    box-sizing: border-box;
    justify-content: space-around;
  }

  .types__item--first {
    margin: 0;
  }

  .types__item--middle {
    margin: 0;
    margin-bottom: 50px;
  }

  .types__item--first::before {
    left: -38px;
    top: 201px;

    width: 127px;
    height: 127px;
    border: 18px solid #0AD9C6;
  }

  .types__item--middle::before,
  .types__item--middle::after {
    display: none;
  }

  .types__item--last::before {
    right: -24px;
    top: -20px;

    width: 68px;
    height: 68px;
    border: 13px solid #0AD9C6;
  }
}

@media (max-width: 767px) {
  .types {
    padding-bottom: 24px;
  }

  .types__list {
    padding-left: 25px;
    padding-right: 25px;

    max-width: 320px;
  }

  .types__item--first,
  .types__item--middle  {
    margin-bottom: 42px;
  }

  .types__item--first::before {
    left: -25px;
  }

  .types__item--last::before {
    right: -15px;
  }
}
